flowsNodeFinal.json
[
    {
        "id": "a09139ddfa19d574",
        "type": "tab",
        "label": "tester FINAL",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7b6ab1cc624bcf22",
        "type": "aedes broker",
        "z": "a09139ddfa19d574",
        "name": "Basureros-Tec",
        "mqtt_port": "1883",
        "mqtt_ws_bind": "port",
        "mqtt_ws_port": "",
        "mqtt_ws_path": "",
        "cert": "",
        "key": "",
        "certname": "",
        "keyname": "",
        "dburl": "",
        "usetls": false,
        "x": 480,
        "y": 140,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "ee0f426d8e94998b",
        "type": "mqtt in",
        "z": "a09139ddfa19d574",
        "name": "",
        "topic": "sensor0/ultrasom",
        "qos": "0",
        "datatype": "auto",
        "broker": "f6c57be57cd6424b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 140,
        "wires": [
            [
                "8906e455e8485819"
            ]
        ]
    },
    {
        "id": "8af90e01091396e2",
        "type": "mqtt in",
        "z": "a09139ddfa19d574",
        "name": "",
        "topic": "sensor1/ultrasom",
        "qos": "0",
        "datatype": "auto",
        "broker": "f6c57be57cd6424b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 200,
        "wires": [
            [
                "8906e455e8485819"
            ]
        ]
    },
    {
        "id": "4a8dfe7837eabd64",
        "type": "mqtt in",
        "z": "a09139ddfa19d574",
        "name": "",
        "topic": "sensor2/ultrasom",
        "qos": "0",
        "datatype": "auto",
        "broker": "f6c57be57cd6424b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 260,
        "wires": [
            [
                "8906e455e8485819"
            ]
        ]
    },
    {
        "id": "4119737a537df294",
        "type": "mqtt in",
        "z": "a09139ddfa19d574",
        "name": "",
        "topic": "sensor3/ultrasom",
        "qos": "0",
        "datatype": "auto",
        "broker": "f6c57be57cd6424b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 320,
        "wires": [
            [
                "8906e455e8485819"
            ]
        ]
    },
    {
        "id": "a5adbe1b8d3aa3d1",
        "type": "mqtt in",
        "z": "a09139ddfa19d574",
        "name": "",
        "topic": "sensor4/ultrasom",
        "qos": "0",
        "datatype": "auto",
        "broker": "f6c57be57cd6424b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 380,
        "wires": [
            [
                "8906e455e8485819"
            ]
        ]
    },
    {
        "id": "9e01e7ca01738dd9",
        "type": "mqtt in",
        "z": "a09139ddfa19d574",
        "name": "",
        "topic": "sensor5/ultrasom",
        "qos": "0",
        "datatype": "auto",
        "broker": "f6c57be57cd6424b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 440,
        "wires": [
            [
                "8906e455e8485819"
            ]
        ]
    },
    {
        "id": "e21bcac213cc979b",
        "type": "mqtt in",
        "z": "a09139ddfa19d574",
        "name": "",
        "topic": "sensor6/ultrasom",
        "qos": "0",
        "datatype": "auto",
        "broker": "f6c57be57cd6424b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 500,
        "wires": [
            [
                "8906e455e8485819"
            ]
        ]
    },
    {
        "id": "78b0caad45b4fe2e",
        "type": "mqtt in",
        "z": "a09139ddfa19d574",
        "name": "",
        "topic": "sensor7/ultrasom",
        "qos": "0",
        "datatype": "auto",
        "broker": "f6c57be57cd6424b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 560,
        "wires": [
            [
                "8906e455e8485819"
            ]
        ]
    },
    {
        "id": "9f08eaed24b13a61",
        "type": "mqtt in",
        "z": "a09139ddfa19d574",
        "name": "",
        "topic": "sensor8/ultrasom",
        "qos": "0",
        "datatype": "auto",
        "broker": "f6c57be57cd6424b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 620,
        "wires": [
            [
                "8906e455e8485819"
            ]
        ]
    },
    {
        "id": "de0f4de8a2534250",
        "type": "mqtt in",
        "z": "a09139ddfa19d574",
        "name": "",
        "topic": "sensor9/ultrasom",
        "qos": "0",
        "datatype": "auto",
        "broker": "f6c57be57cd6424b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 680,
        "wires": [
            [
                "8906e455e8485819"
            ]
        ]
    },
    {
        "id": "8906e455e8485819",
        "type": "function",
        "z": "a09139ddfa19d574",
        "name": "level-process-message",
        "func": "var topic = msg.topic;\n\nvar rec_msg = msg.payload.toString();\nvar rec_msg_arr = rec_msg.split(\";\");\n\nvar measure_label;\nvar measure_val;\n\nvar time = rec_msg_arr[0].split(\"=\")[1];\nvar measure = Number(rec_msg_arr[1].split(\"=\")[1]);\nvar coord = rec_msg_arr[2].split(\"=\")[1];\n\nvar porcentaje = 100 - (measure * 100 / 65);\n\nvar f_measure = \"meas_\".concat(topic);\nvar o_meas = flow.get(f_measure)||0;\n\nif (o_meas === \"verde\" || o_meas === \"amarillo\" ||  o_meas === \"rojo\" ||  o_meas === \"error\" ){\n    flow.set(f_measure, measure);\n}\nelse if (porcentaje < 0 || porcentaje > 100 ){\n    flow.set(f_measure, \"error\");\n    \n    msg.payload = \n    {    name:topic.split(\"/\")[0],\n    measure_value: flow.get(f_measure),\n    measure_label: \"error\",\n    measure_val: measure,\n    //measure_value: measure,\n    SIDC: \"IOGA--------\",\n    options: {\"fillOpacity\":0.8,\n    \"additionalInformation\":flow.get(f_measure)},\n    lat: Number(coord.split(\":\")[0]),\n    lon: Number(coord.split(\":\")[1])\n    }\n}\nelse if (porcentaje < 20){\n    flow.set(f_measure, \"verde\");\n    \n    msg.payload = \n    {    name:topic.split(\"/\")[0],\n    measure_value: flow.get(f_measure),\n    measure_label: \"verde\",\n    measure_val: measure,\n    //measure_value: measure,\n    SIDC: \"INGC--------\",\n    options: {\"fillOpacity\":0.8,\n    \"additionalInformation\":flow.get(f_measure)},\n    lat: Number(coord.split(\":\")[0]),\n    lon: Number(coord.split(\":\")[1])\n    }\n}\nelse if (porcentaje >= 20 && porcentaje <= 75){\n    flow.set(f_measure, \"amarillo\");\n    \n    msg.payload = \n    {    name:topic.split(\"/\")[0],\n    measure_value: flow.get(f_measure),\n    measure_label: \"amarillo\",\n    measure_val: measure,\n    //measure_measure: measure,\n    SIDC: \"INGD--------\",\n    options: {\"fillOpacity\":0.8,\n    \"additionalInformation\":flow.get(f_measure)},\n    lat: Number(coord.split(\":\")[0]),\n    lon: Number(coord.split(\":\")[1])\n    }\n}\nelse if (porcentaje > 75){\n    flow.set(f_measure, \"rojo\");\n    \n    msg.payload = \n    {    name:topic.split(\"/\")[0],\n    measure_value: flow.get(f_measure),\n    measure_label: \"rojo\",\n    measure_val: measure,\n    //measure_value: measure,\n    SIDC: \"INGX--------\",\n    options: {\"fillOpacity\":0.8,\n    \"additionalInformation\":flow.get(f_measure)},\n    lat: Number(coord.split(\":\")[0]),\n    lon: Number(coord.split(\":\")[1])\n    }\n    \n}\n\nelse{\n    flow.set(f_measure, measure);\n    \n    msg.payload = \n    {    name:topic.split(\"/\")[0],\n    measure_value: flow.get(f_measure),\n    SIDC: \"ENOPA-------\",\n    options: {\"fillOpacity\":0.8,\n    \"additionalInformation\":flow.get(f_measure)},\n    lat: Number(coord.split(\":\")[0]),\n    lon: Number(coord.split(\":\")[1])\n    }\n    \n}\n\n/*\nmsg.payload = \n{    name:topic.split(\"/\")[0],\nmeasure_value: flow.get(f_measure),\nSIDC: \"ENOPA--------\",\noptions: {\"fillOpacity\":0.8,\n\"additionalInformation\":flow.get(f_measure)},\nlat: Number(coord.split(\":\")[0]),\nlon: Number(coord.split(\":\")[1])\n}\n*/\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 440,
        "wires": [
            [
                "f20a6874432dfef5",
                "6dc3682b41c40fd5"
            ]
        ]
    },
    {
        "id": "f20a6874432dfef5",
        "type": "worldmap",
        "z": "a09139ddfa19d574",
        "name": "",
        "lat": "19.283698105248043",
        "lon": "-99.1350945369661",
        "zoom": "",
        "layer": "OSMG",
        "cluster": "",
        "maxage": "",
        "usermenu": "show",
        "layers": "show",
        "panit": "false",
        "panlock": "false",
        "zoomlock": "false",
        "hiderightclick": "false",
        "coords": "none",
        "showgrid": "false",
        "allowFileDrop": "false",
        "path": "/worldmap",
        "overlist": "DR,CO,RA,DN,HM",
        "maplist": "OSMG,OSMC,EsriC,EsriS,EsriT,EsriDG,UKOS,SW",
        "mapname": "",
        "mapurl": "",
        "mapopt": "",
        "mapwms": false,
        "x": 650,
        "y": 320,
        "wires": []
    },
    {
        "id": "901c1d1d4af03912",
        "type": "mqtt in",
        "z": "a09139ddfa19d574",
        "name": "",
        "topic": "sensor10/ultrasom",
        "qos": "0",
        "datatype": "auto",
        "broker": "f6c57be57cd6424b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 740,
        "wires": [
            [
                "8906e455e8485819"
            ]
        ]
    },
    {
        "id": "f851e5f4f3b7de9e",
        "type": "mqtt in",
        "z": "a09139ddfa19d574",
        "name": "",
        "topic": "sensor11/ultrasom",
        "qos": "0",
        "datatype": "auto",
        "broker": "f6c57be57cd6424b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 800,
        "wires": [
            [
                "8906e455e8485819"
            ]
        ]
    },
    {
        "id": "6dc3682b41c40fd5",
        "type": "json",
        "z": "a09139ddfa19d574",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 680,
        "y": 540,
        "wires": [
            [
                "db36e6063bac1b42",
                "65c25b77403a14c8"
            ]
        ]
    },
    {
        "id": "db36e6063bac1b42",
        "type": "function",
        "z": "a09139ddfa19d574",
        "name": "prepare email basurero",
        "func": "var rec_msg = msg.payload.toString();\n\nvar msgJson = JSON.parse(rec_msg);\n\nvar measure_value = msgJson.measure_value;\nvar name = msgJson.name;\n\nvar yellow = \"\\nContainer is between 20% and 75%.\\nWe suggest scheduling garbage collection.\";\nvar red = \"\\nContainer is over 75%. \\nWe suggest an immediate garbage collection.\";\n\nif (measure_value === \"error\") {\n    msg.payload = \"error -> \".concat(name);\n}\n\nelse if (measure_value === \"verde\"){\n    msg.payload = \"verde -> \".concat(name);\n}\nelse if(measure_value === \"amarillo\"){\n    msg.topic = \"amarillo -> \".concat(name)\n    msg.payload = \"amarillo -> \".concat(name).concat(yellow);\n}\nelse if(measure_value === \"rojo\"){\n    \"rojo -> \".concat(name);\n    msg.payload = \"rojo -> \".concat(name).concat(red);\n}\nelse {\n    msg.payload = \"null\";\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 440,
        "wires": [
            [
                "7b277c363ffeb1cc",
                "0164404f05aaad65",
                "6927af335056f0fa",
                "1d6d6bc419137c8c"
            ]
        ]
    },
    {
        "id": "0164404f05aaad65",
        "type": "switch",
        "z": "a09139ddfa19d574",
        "name": "amarillo",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "amarillo",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1130,
        "y": 440,
        "wires": [
            [
                "195cf3522b65e8a2"
            ]
        ]
    },
    {
        "id": "6927af335056f0fa",
        "type": "switch",
        "z": "a09139ddfa19d574",
        "name": "rojo",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "rojo",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1120,
        "y": 520,
        "wires": [
            [
                "195cf3522b65e8a2"
            ]
        ]
    },
    {
        "id": "7b277c363ffeb1cc",
        "type": "switch",
        "z": "a09139ddfa19d574",
        "name": "verde",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "verde",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1120,
        "y": 360,
        "wires": [
            [
                "195cf3522b65e8a2"
            ]
        ]
    },
    {
        "id": "195cf3522b65e8a2",
        "type": "debug",
        "z": "a09139ddfa19d574",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1410,
        "y": 320,
        "wires": []
    },
    {
        "id": "1d6d6bc419137c8c",
        "type": "switch",
        "z": "a09139ddfa19d574",
        "name": "error",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "error",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1120,
        "y": 600,
        "wires": [
            [
                "195cf3522b65e8a2"
            ]
        ]
    },
    {
        "id": "b513fc7a0e328af7",
        "type": "e-mail",
        "z": "a09139ddfa19d574",
        "server": "smtp.gmail.com",
        "port": "465",
        "secure": true,
        "tls": false,
        "name": "champidecp@gmail.com",
        "dname": "",
        "output": false,
        "outputs": 0,
        "x": 1440,
        "y": 480,
        "wires": []
    },
    {
        "id": "e8d4b0c433e13dcc",
        "type": "mysql",
        "z": "a09139ddfa19d574",
        "mydb": "1d65686d9f8e299b",
        "name": "my-sql-sensors",
        "x": 1040,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "65c25b77403a14c8",
        "type": "function",
        "z": "a09139ddfa19d574",
        "name": "mysql-function",
        "func": "var rec_msg = msg.payload.toString();\n\nvar msgJson = JSON.parse(rec_msg);\n\nvar nodeid = msgJson.name;\nvar measure_value = msgJson.measure_val;\nvar measure_label = msgJson.measure_label;\n//var sensor_type = msgJson.sensor_type;\n\nmsg.topic = \"INSERT INTO `sensores_prueba`.`data_sensors` (node_id,meas_label,meas_raw_value) VALUES ( ' \" + nodeid + \"', '\" + measure_label + \"', '\" + measure_value + \"');\";\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 640,
        "wires": [
            [
                "e8d4b0c433e13dcc"
            ]
        ]
    },
    {
        "id": "c0ef828c57b1df5b",
        "type": "mqtt in",
        "z": "a09139ddfa19d574",
        "name": "",
        "topic": "sensor12/ultrasom",
        "qos": "2",
        "datatype": "auto",
        "broker": "f6c57be57cd6424b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 900,
        "wires": [
            [
                "8906e455e8485819"
            ]
        ]
    },
    {
        "id": "f6c57be57cd6424b",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.68.107",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "1d65686d9f8e299b",
        "type": "MySQLdatabase",
        "name": "sensores_prueba FINAL",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "sensores_prueba",
        "tz": "",
        "charset": "UTF8"
    }
]