flows (2).json
[
    {
        "id": "e94eb63fb6490cfa",
        "type": "tab",
        "label": "tester",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4ae82f98c9afa392",
        "type": "aedes broker",
        "z": "e94eb63fb6490cfa",
        "name": "Basureros-Tec",
        "mqtt_port": "1883",
        "mqtt_ws_bind": "port",
        "mqtt_ws_port": "",
        "mqtt_ws_path": "",
        "cert": "",
        "key": "",
        "certname": "",
        "keyname": "",
        "dburl": "",
        "usetls": false,
        "x": 480,
        "y": 140,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "7de4922b231f5c71",
        "type": "mqtt in",
        "z": "e94eb63fb6490cfa",
        "name": "",
        "topic": "sensor0/ultrasom",
        "qos": "0",
        "datatype": "auto",
        "broker": "ef911ba9c780d782",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 140,
        "wires": [
            [
                "844b5a91e9d1a0b8"
            ]
        ]
    },
    {
        "id": "108a7b0c8d896d06",
        "type": "mqtt in",
        "z": "e94eb63fb6490cfa",
        "name": "",
        "topic": "sensor1/ultrasom",
        "qos": "0",
        "datatype": "auto",
        "broker": "ef911ba9c780d782",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 200,
        "wires": [
            [
                "844b5a91e9d1a0b8"
            ]
        ]
    },
    {
        "id": "c5eeaa34c99883d9",
        "type": "mqtt in",
        "z": "e94eb63fb6490cfa",
        "name": "",
        "topic": "sensor2/ultrasom",
        "qos": "0",
        "datatype": "auto",
        "broker": "ef911ba9c780d782",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 260,
        "wires": [
            [
                "844b5a91e9d1a0b8"
            ]
        ]
    },
    {
        "id": "f13d6786dd86a9e0",
        "type": "mqtt in",
        "z": "e94eb63fb6490cfa",
        "name": "",
        "topic": "sensor3/ultrasom",
        "qos": "0",
        "datatype": "auto",
        "broker": "ef911ba9c780d782",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 320,
        "wires": [
            [
                "844b5a91e9d1a0b8"
            ]
        ]
    },
    {
        "id": "ace6623e694556bd",
        "type": "mqtt in",
        "z": "e94eb63fb6490cfa",
        "name": "",
        "topic": "sensor4/ultrasom",
        "qos": "0",
        "datatype": "auto",
        "broker": "ef911ba9c780d782",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 380,
        "wires": [
            [
                "844b5a91e9d1a0b8"
            ]
        ]
    },
    {
        "id": "35c8f7b9c241f309",
        "type": "mqtt in",
        "z": "e94eb63fb6490cfa",
        "name": "",
        "topic": "sensor5/ultrasom",
        "qos": "0",
        "datatype": "auto",
        "broker": "ef911ba9c780d782",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 440,
        "wires": [
            [
                "844b5a91e9d1a0b8"
            ]
        ]
    },
    {
        "id": "356fa8bc82bffe52",
        "type": "mqtt in",
        "z": "e94eb63fb6490cfa",
        "name": "",
        "topic": "sensor6/ultrasom",
        "qos": "0",
        "datatype": "auto",
        "broker": "ef911ba9c780d782",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 500,
        "wires": [
            [
                "844b5a91e9d1a0b8"
            ]
        ]
    },
    {
        "id": "7aade52beeb19853",
        "type": "mqtt in",
        "z": "e94eb63fb6490cfa",
        "name": "",
        "topic": "sensor7/ultrasom",
        "qos": "0",
        "datatype": "auto",
        "broker": "ef911ba9c780d782",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 560,
        "wires": [
            [
                "844b5a91e9d1a0b8"
            ]
        ]
    },
    {
        "id": "60fcb9f840129fb3",
        "type": "mqtt in",
        "z": "e94eb63fb6490cfa",
        "name": "",
        "topic": "sensor8/ultrasom",
        "qos": "0",
        "datatype": "auto",
        "broker": "ef911ba9c780d782",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 620,
        "wires": [
            [
                "844b5a91e9d1a0b8"
            ]
        ]
    },
    {
        "id": "e5e30535716e24fb",
        "type": "mqtt in",
        "z": "e94eb63fb6490cfa",
        "name": "",
        "topic": "sensor9/ultrasom",
        "qos": "0",
        "datatype": "auto",
        "broker": "ef911ba9c780d782",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 680,
        "wires": [
            [
                "844b5a91e9d1a0b8"
            ]
        ]
    },
    {
        "id": "844b5a91e9d1a0b8",
        "type": "function",
        "z": "e94eb63fb6490cfa",
        "name": "level-process-message",
        "func": "var topic = msg.topic;\n\nvar rec_msg = msg.payload.toString();\nvar rec_msg_arr = rec_msg.split(\";\");\n\nvar measure_label;\nvar measure_val;\n\nvar time = rec_msg_arr[0].split(\"=\")[1];\nvar measure = Number(rec_msg_arr[1].split(\"=\")[1]);\nvar coord = rec_msg_arr[2].split(\"=\")[1];\n\nvar f_measure = \"meas_\".concat(topic);\nvar o_meas = flow.get(f_measure)||0;\n\nif (o_meas === \"verde\" || o_meas === \"amarillo\" ||  o_meas === \"rojo\" ||  o_meas === \"error\" ){\n    flow.set(f_measure, measure);\n}\nelse if (measure < 0 || measure > 100 ){\n    flow.set(f_measure, \"error\");\n    \n    msg.payload = \n    {    name:topic.split(\"/\")[0],\n    measure_value: flow.get(f_measure),\n    measure_label: \"error\",\n    measure_val: measure,\n    //measure_value: measure,\n    SIDC: \"IOGA--------\",\n    options: {\"fillOpacity\":0.8,\n    \"additionalInformation\":flow.get(f_measure)},\n    lat: Number(coord.split(\":\")[0]),\n    lon: Number(coord.split(\":\")[1])\n    }\n}\nelse if (measure < 20){\n    flow.set(f_measure, \"verde\");\n    \n    msg.payload = \n    {    name:topic.split(\"/\")[0],\n    measure_value: flow.get(f_measure),\n    measure_label: \"verde\",\n    measure_val: measure,\n    //measure_value: measure,\n    SIDC: \"INGC--------\",\n    options: {\"fillOpacity\":0.8,\n    \"additionalInformation\":flow.get(f_measure)},\n    lat: Number(coord.split(\":\")[0]),\n    lon: Number(coord.split(\":\")[1])\n    }\n}\nelse if (measure >= 20 && measure <= 75){\n    flow.set(f_measure, \"amarillo\");\n    \n    msg.payload = \n    {    name:topic.split(\"/\")[0],\n    measure_value: flow.get(f_measure),\n    measure_label: \"amarillo\",\n    measure_val: measure,\n    //measure_measure: measure,\n    SIDC: \"INGD--------\",\n    options: {\"fillOpacity\":0.8,\n    \"additionalInformation\":flow.get(f_measure)},\n    lat: Number(coord.split(\":\")[0]),\n    lon: Number(coord.split(\":\")[1])\n    }\n}\nelse if (measure > 75){\n    flow.set(f_measure, \"rojo\");\n    \n    msg.payload = \n    {    name:topic.split(\"/\")[0],\n    measure_value: flow.get(f_measure),\n    measure_label: \"rojo\",\n    measure_val: measure,\n    //measure_value: measure,\n    SIDC: \"INGX--------\",\n    options: {\"fillOpacity\":0.8,\n    \"additionalInformation\":flow.get(f_measure)},\n    lat: Number(coord.split(\":\")[0]),\n    lon: Number(coord.split(\":\")[1])\n    }\n    \n}\n\nelse{\n    flow.set(f_measure, measure);\n    \n    msg.payload = \n    {    name:topic.split(\"/\")[0],\n    measure_value: flow.get(f_measure),\n    SIDC: \"ENOPA-------\",\n    options: {\"fillOpacity\":0.8,\n    \"additionalInformation\":flow.get(f_measure)},\n    lat: Number(coord.split(\":\")[0]),\n    lon: Number(coord.split(\":\")[1])\n    }\n    \n}\n\n/*\nmsg.payload = \n{    name:topic.split(\"/\")[0],\nmeasure_value: flow.get(f_measure),\nSIDC: \"ENOPA--------\",\noptions: {\"fillOpacity\":0.8,\n\"additionalInformation\":flow.get(f_measure)},\nlat: Number(coord.split(\":\")[0]),\nlon: Number(coord.split(\":\")[1])\n}\n*/\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 440,
        "wires": [
            [
                "4e2af85aae359d34",
                "f0145088b10ebc37"
            ]
        ]
    },
    {
        "id": "4e2af85aae359d34",
        "type": "worldmap",
        "z": "e94eb63fb6490cfa",
        "name": "",
        "lat": "19.283698105248043",
        "lon": "-99.1350945369661",
        "zoom": "",
        "layer": "OSMG",
        "cluster": "",
        "maxage": "",
        "usermenu": "show",
        "layers": "show",
        "panit": "false",
        "panlock": "false",
        "zoomlock": "false",
        "hiderightclick": "false",
        "coords": "none",
        "showgrid": "false",
        "allowFileDrop": "false",
        "path": "/worldmap",
        "overlist": "DR,CO,RA,DN,HM",
        "maplist": "OSMG,OSMC,EsriC,EsriS,EsriT,EsriDG,UKOS,SW",
        "mapname": "",
        "mapurl": "",
        "mapopt": "",
        "mapwms": false,
        "x": 650,
        "y": 320,
        "wires": []
    },
    {
        "id": "f49b29acdd1afd81",
        "type": "mqtt in",
        "z": "e94eb63fb6490cfa",
        "name": "",
        "topic": "sensor10/ultrasom",
        "qos": "0",
        "datatype": "auto",
        "broker": "ef911ba9c780d782",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 740,
        "wires": [
            [
                "844b5a91e9d1a0b8"
            ]
        ]
    },
    {
        "id": "263a475d8f27e84d",
        "type": "mqtt in",
        "z": "e94eb63fb6490cfa",
        "name": "",
        "topic": "sensor11/ultrasom",
        "qos": "0",
        "datatype": "auto",
        "broker": "ef911ba9c780d782",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 800,
        "wires": [
            [
                "844b5a91e9d1a0b8"
            ]
        ]
    },
    {
        "id": "f0145088b10ebc37",
        "type": "json",
        "z": "e94eb63fb6490cfa",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 680,
        "y": 540,
        "wires": [
            [
                "bd773d4aa48cb6b3",
                "075751b8548fa983"
            ]
        ]
    },
    {
        "id": "bd773d4aa48cb6b3",
        "type": "function",
        "z": "e94eb63fb6490cfa",
        "name": "prepare email basurero",
        "func": "var rec_msg = msg.payload.toString();\n\nvar msgJson = JSON.parse(rec_msg);\n\nvar measure_value = msgJson.measure_value;\nvar name = msgJson.name;\n\nvar yellow = \"\\nContainer is between 20% and 75%.\\nWe suggest scheduling garbage collection.\";\nvar red = \"\\nContainer is over 75%. \\nWe suggest an immediate garbage collection.\";\n\nif (measure_value === \"error\") {\n    msg.payload = \"error -> \".concat(name);\n}\n\nelse if (measure_value === \"verde\"){\n    msg.payload = \"verde -> \".concat(name);\n}\nelse if(measure_value === \"amarillo\"){\n    msg.topic = \"amarillo -> \".concat(name)\n    msg.payload = \"amarillo -> \".concat(name).concat(yellow);\n}\nelse if(measure_value === \"rojo\"){\n    \"rojo -> \".concat(name);\n    msg.payload = \"rojo -> \".concat(name).concat(red);\n}\nelse {\n    msg.payload = \"null\";\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 440,
        "wires": [
            [
                "da1d9602d325c57c",
                "d8d2ff1e3788590e",
                "6fe9ab6903b3c0bf",
                "3ebee8e34f3b0754"
            ]
        ]
    },
    {
        "id": "d8d2ff1e3788590e",
        "type": "switch",
        "z": "e94eb63fb6490cfa",
        "name": "amarillo",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "amarillo",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1130,
        "y": 440,
        "wires": [
            [
                "9304803b76af55dc"
            ]
        ]
    },
    {
        "id": "6fe9ab6903b3c0bf",
        "type": "switch",
        "z": "e94eb63fb6490cfa",
        "name": "rojo",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "rojo",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1120,
        "y": 520,
        "wires": [
            [
                "9304803b76af55dc"
            ]
        ]
    },
    {
        "id": "da1d9602d325c57c",
        "type": "switch",
        "z": "e94eb63fb6490cfa",
        "name": "verde",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "verde",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1120,
        "y": 360,
        "wires": [
            [
                "9304803b76af55dc"
            ]
        ]
    },
    {
        "id": "9304803b76af55dc",
        "type": "debug",
        "z": "e94eb63fb6490cfa",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1420,
        "y": 320,
        "wires": []
    },
    {
        "id": "3ebee8e34f3b0754",
        "type": "switch",
        "z": "e94eb63fb6490cfa",
        "name": "error",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "error",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1120,
        "y": 600,
        "wires": [
            [
                "9304803b76af55dc"
            ]
        ]
    },
    {
        "id": "4b2e4db28c09d756",
        "type": "e-mail",
        "z": "e94eb63fb6490cfa",
        "server": "smtp.gmail.com",
        "port": "465",
        "secure": true,
        "tls": false,
        "name": "champidecp@gmail.com",
        "dname": "",
        "output": false,
        "outputs": 0,
        "x": 1440,
        "y": 480,
        "wires": []
    },
    {
        "id": "3a95a6f93f449908",
        "type": "mysql",
        "z": "e94eb63fb6490cfa",
        "mydb": "e6aa4ea1cfb1daca",
        "name": "my-sql-sensors",
        "x": 1040,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "075751b8548fa983",
        "type": "function",
        "z": "e94eb63fb6490cfa",
        "name": "mysql-function",
        "func": "var rec_msg = msg.payload.toString();\n\nvar msgJson = JSON.parse(rec_msg);\n\nvar nodeid = msgJson.name;\nvar measure_value = msgJson.measure_val;\nvar measure_label = msgJson.measure_label;\n//var sensor_type = msgJson.sensor_type;\n\nmsg.topic = \"INSERT INTO `sensores_prueba`.`data_sensors` (node_id,meas_label,meas_raw_value) VALUES ( ' \" + nodeid + \"', '\" + measure_label + \"', '\" + measure_value + \"');\";\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 640,
        "wires": [
            [
                "3a95a6f93f449908"
            ]
        ]
    },
    {
        "id": "ef911ba9c780d782",
        "type": "mqtt-broker",
        "name": "localhost:1883",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "e6aa4ea1cfb1daca",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "sensores_prueba",
        "tz": "",
        "charset": "UTF8MB4"
    }
]