sensores/flow-node-rasp.json
[
    {
        "id": "e6105ed9cba7a11a",
        "type": "tab",
        "label": "tester",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1bbef41767bf0165",
        "type": "aedes broker",
        "z": "e6105ed9cba7a11a",
        "name": "Basureros-Tec",
        "mqtt_port": "1883",
        "mqtt_ws_bind": "port",
        "mqtt_ws_port": "",
        "mqtt_ws_path": "",
        "cert": "",
        "key": "",
        "certname": "",
        "keyname": "",
        "dburl": "",
        "usetls": false,
        "x": 480,
        "y": 140,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "cb15dc1ba3112528",
        "type": "mqtt in",
        "z": "e6105ed9cba7a11a",
        "name": "",
        "topic": "sensor0/ultrasom",
        "qos": "0",
        "datatype": "auto",
        "broker": "f6c57be57cd6424b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 140,
        "wires": [
            [
                "378cc117c6eed6b2"
            ]
        ]
    },
    {
        "id": "965a4c026ce9de4f",
        "type": "mqtt in",
        "z": "e6105ed9cba7a11a",
        "name": "",
        "topic": "sensor1/ultrasom",
        "qos": "0",
        "datatype": "auto",
        "broker": "f6c57be57cd6424b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 200,
        "wires": [
            [
                "378cc117c6eed6b2"
            ]
        ]
    },
    {
        "id": "64c714a23eea20bd",
        "type": "mqtt in",
        "z": "e6105ed9cba7a11a",
        "name": "",
        "topic": "sensor2/ultrasom",
        "qos": "0",
        "datatype": "auto",
        "broker": "f6c57be57cd6424b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 260,
        "wires": [
            [
                "378cc117c6eed6b2"
            ]
        ]
    },
    {
        "id": "48a591ceb3e44682",
        "type": "mqtt in",
        "z": "e6105ed9cba7a11a",
        "name": "",
        "topic": "sensor3/ultrasom",
        "qos": "0",
        "datatype": "auto",
        "broker": "f6c57be57cd6424b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 320,
        "wires": [
            [
                "378cc117c6eed6b2"
            ]
        ]
    },
    {
        "id": "0047d56a6851c28a",
        "type": "mqtt in",
        "z": "e6105ed9cba7a11a",
        "name": "",
        "topic": "sensor4/ultrasom",
        "qos": "0",
        "datatype": "auto",
        "broker": "f6c57be57cd6424b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 380,
        "wires": [
            [
                "378cc117c6eed6b2"
            ]
        ]
    },
    {
        "id": "d3ca5b70351ac095",
        "type": "mqtt in",
        "z": "e6105ed9cba7a11a",
        "name": "",
        "topic": "sensor5/ultrasom",
        "qos": "0",
        "datatype": "auto",
        "broker": "f6c57be57cd6424b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 440,
        "wires": [
            [
                "378cc117c6eed6b2"
            ]
        ]
    },
    {
        "id": "76c230d9f7afed37",
        "type": "mqtt in",
        "z": "e6105ed9cba7a11a",
        "name": "",
        "topic": "sensor6/ultrasom",
        "qos": "0",
        "datatype": "auto",
        "broker": "f6c57be57cd6424b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 500,
        "wires": [
            [
                "378cc117c6eed6b2"
            ]
        ]
    },
    {
        "id": "d76d666bc5c32fcb",
        "type": "mqtt in",
        "z": "e6105ed9cba7a11a",
        "name": "",
        "topic": "sensor7/ultrasom",
        "qos": "0",
        "datatype": "auto",
        "broker": "f6c57be57cd6424b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 560,
        "wires": [
            [
                "378cc117c6eed6b2"
            ]
        ]
    },
    {
        "id": "1412f433bbe8d56a",
        "type": "mqtt in",
        "z": "e6105ed9cba7a11a",
        "name": "",
        "topic": "sensor8/ultrasom",
        "qos": "0",
        "datatype": "auto",
        "broker": "f6c57be57cd6424b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 620,
        "wires": [
            [
                "378cc117c6eed6b2"
            ]
        ]
    },
    {
        "id": "f52354eea5f91adb",
        "type": "mqtt in",
        "z": "e6105ed9cba7a11a",
        "name": "",
        "topic": "sensor9/ultrasom",
        "qos": "0",
        "datatype": "auto",
        "broker": "f6c57be57cd6424b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 680,
        "wires": [
            [
                "378cc117c6eed6b2"
            ]
        ]
    },
    {
        "id": "378cc117c6eed6b2",
        "type": "function",
        "z": "e6105ed9cba7a11a",
        "name": "level-process-message",
        "func": "var topic = msg.topic;\n\nvar rec_msg = msg.payload.toString();\nvar rec_msg_arr = rec_msg.split(\";\");\n\nvar measure_label;\nvar measure_val;\n\nvar time = rec_msg_arr[0].split(\"=\")[1];\nvar measure = Number(rec_msg_arr[1].split(\"=\")[1]);\nvar coord = rec_msg_arr[2].split(\"=\")[1];\n\nvar f_measure = \"meas_\".concat(topic);\nvar o_meas = flow.get(f_measure)||0;\n\nif (o_meas === \"verde\" || o_meas === \"amarillo\" ||  o_meas === \"rojo\" ||  o_meas === \"error\" ){\n    flow.set(f_measure, measure);\n}\nelse if (measure < 0 || measure > 100 ){\n    flow.set(f_measure, \"error\");\n    \n    msg.payload = \n    {    name:topic.split(\"/\")[0],\n    measure_value: flow.get(f_measure),\n    measure_label: \"error\",\n    measure_val: measure,\n    //measure_value: measure,\n    SIDC: \"IOGA--------\",\n    options: {\"fillOpacity\":0.8,\n    \"additionalInformation\":flow.get(f_measure)},\n    lat: Number(coord.split(\":\")[0]),\n    lon: Number(coord.split(\":\")[1])\n    }\n}\nelse if (measure > 75){\n    flow.set(f_measure, \"verde\");\n    \n    msg.payload = \n    {    name:topic.split(\"/\")[0],\n    measure_value: flow.get(f_measure),\n    measure_label: \"verde\",\n    measure_val: measure,\n    //measure_value: measure,\n    SIDC: \"INGC--------\",\n    options: {\"fillOpacity\":0.8,\n    \"additionalInformation\":flow.get(f_measure)},\n    lat: Number(coord.split(\":\")[0]),\n    lon: Number(coord.split(\":\")[1])\n    }\n}\nelse if (measure >= 20 && measure <= 75){\n    flow.set(f_measure, \"amarillo\");\n    \n    msg.payload = \n    {    name:topic.split(\"/\")[0],\n    measure_value: flow.get(f_measure),\n    measure_label: \"amarillo\",\n    measure_val: measure,\n    //measure_measure: measure,\n    SIDC: \"INGD--------\",\n    options: {\"fillOpacity\":0.8,\n    \"additionalInformation\":flow.get(f_measure)},\n    lat: Number(coord.split(\":\")[0]),\n    lon: Number(coord.split(\":\")[1])\n    }\n}\nelse if (measure < 20){\n    flow.set(f_measure, \"rojo\");\n    \n    msg.payload = \n    {    name:topic.split(\"/\")[0],\n    measure_value: flow.get(f_measure),\n    measure_label: \"rojo\",\n    measure_val: measure,\n    //measure_value: measure,\n    SIDC: \"INGX--------\",\n    options: {\"fillOpacity\":0.8,\n    \"additionalInformation\":flow.get(f_measure)},\n    lat: Number(coord.split(\":\")[0]),\n    lon: Number(coord.split(\":\")[1])\n    }\n    \n}\n\nelse{\n    flow.set(f_measure, measure);\n    \n    msg.payload = \n    {    name:topic.split(\"/\")[0],\n    measure_value: flow.get(f_measure),\n    SIDC: \"ENOPA-------\",\n    options: {\"fillOpacity\":0.8,\n    \"additionalInformation\":flow.get(f_measure)},\n    lat: Number(coord.split(\":\")[0]),\n    lon: Number(coord.split(\":\")[1])\n    }\n    \n}\n\n/*\nmsg.payload = \n{    name:topic.split(\"/\")[0],\nmeasure_value: flow.get(f_measure),\nSIDC: \"ENOPA--------\",\noptions: {\"fillOpacity\":0.8,\n\"additionalInformation\":flow.get(f_measure)},\nlat: Number(coord.split(\":\")[0]),\nlon: Number(coord.split(\":\")[1])\n}\n*/\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 440,
        "wires": [
            [
                "21bffcaff855c2be",
                "c3cab23e62f2edc6"
            ]
        ]
    },
    {
        "id": "21bffcaff855c2be",
        "type": "worldmap",
        "z": "e6105ed9cba7a11a",
        "name": "",
        "lat": "19.283698105248043",
        "lon": "-99.1350945369661",
        "zoom": "",
        "layer": "OSMG",
        "cluster": "",
        "maxage": "",
        "usermenu": "show",
        "layers": "show",
        "panit": "false",
        "panlock": "false",
        "zoomlock": "false",
        "hiderightclick": "false",
        "coords": "none",
        "showgrid": "false",
        "allowFileDrop": "false",
        "path": "/worldmap",
        "overlist": "DR,CO,RA,DN,HM",
        "maplist": "OSMG,OSMC,EsriC,EsriS,EsriT,EsriDG,UKOS,SW",
        "mapname": "",
        "mapurl": "",
        "mapopt": "",
        "mapwms": false,
        "x": 650,
        "y": 320,
        "wires": []
    },
    {
        "id": "419bec53b42ec714",
        "type": "mqtt in",
        "z": "e6105ed9cba7a11a",
        "name": "",
        "topic": "sensor10/ultrasom",
        "qos": "0",
        "datatype": "auto",
        "broker": "f6c57be57cd6424b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 740,
        "wires": [
            [
                "378cc117c6eed6b2"
            ]
        ]
    },
    {
        "id": "a16a689b6ec26678",
        "type": "mqtt in",
        "z": "e6105ed9cba7a11a",
        "name": "",
        "topic": "sensor11/ultrasom",
        "qos": "0",
        "datatype": "auto",
        "broker": "f6c57be57cd6424b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 180,
        "y": 800,
        "wires": [
            [
                "378cc117c6eed6b2"
            ]
        ]
    },
    {
        "id": "c3cab23e62f2edc6",
        "type": "json",
        "z": "e6105ed9cba7a11a",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 680,
        "y": 540,
        "wires": [
            [
                "3d015a2a26b857ad",
                "f7c7f8e02ddc290b"
            ]
        ]
    },
    {
        "id": "3d015a2a26b857ad",
        "type": "function",
        "z": "e6105ed9cba7a11a",
        "name": "prepare email basurero",
        "func": "var rec_msg = msg.payload.toString();\n\nvar msgJson = JSON.parse(rec_msg);\n\nvar measure_value = msgJson.measure_value;\nvar name = msgJson.name;\n\nvar yellow = \"\\nContainer is between 20% and 75%.\\nWe suggest scheduling garbage collection.\";\nvar red = \"\\nContainer is over 75%. \\nWe suggest an immediate garbage collection.\";\n\nif (measure_value === \"error\") {\n    msg.payload = \"error -> \".concat(name);\n}\n\nelse if (measure_value === \"verde\"){\n    msg.payload = \"verde -> \".concat(name);\n}\nelse if(measure_value === \"amarillo\"){\n    msg.topic = \"amarillo -> \".concat(name)\n    msg.payload = \"amarillo -> \".concat(name).concat(yellow);\n}\nelse if(measure_value === \"rojo\"){\n    \"rojo -> \".concat(name);\n    msg.payload = \"rojo -> \".concat(name).concat(red);\n}\nelse {\n    msg.payload = \"null\";\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 440,
        "wires": [
            [
                "9685ef797898fbaa",
                "88d45b71b54a0c54",
                "a891f5d259764bae",
                "aa76a05e68cc7a2c"
            ]
        ]
    },
    {
        "id": "88d45b71b54a0c54",
        "type": "switch",
        "z": "e6105ed9cba7a11a",
        "name": "amarillo",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "amarillo",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1130,
        "y": 440,
        "wires": [
            [
                "106d14c44fb359a6"
            ]
        ]
    },
    {
        "id": "a891f5d259764bae",
        "type": "switch",
        "z": "e6105ed9cba7a11a",
        "name": "rojo",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "rojo",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1120,
        "y": 520,
        "wires": [
            [
                "106d14c44fb359a6"
            ]
        ]
    },
    {
        "id": "9685ef797898fbaa",
        "type": "switch",
        "z": "e6105ed9cba7a11a",
        "name": "verde",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "verde",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1120,
        "y": 360,
        "wires": [
            [
                "106d14c44fb359a6"
            ]
        ]
    },
    {
        "id": "106d14c44fb359a6",
        "type": "debug",
        "z": "e6105ed9cba7a11a",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1450,
        "y": 360,
        "wires": []
    },
    {
        "id": "aa76a05e68cc7a2c",
        "type": "switch",
        "z": "e6105ed9cba7a11a",
        "name": "error",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "error",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1120,
        "y": 600,
        "wires": [
            [
                "106d14c44fb359a6"
            ]
        ]
    },
    {
        "id": "250308148beff466",
        "type": "e-mail",
        "z": "e6105ed9cba7a11a",
        "server": "smtp.gmail.com",
        "port": "465",
        "secure": true,
        "tls": false,
        "name": "champidecp@gmail.com",
        "dname": "",
        "output": false,
        "outputs": 0,
        "x": 1470,
        "y": 480,
        "wires": []
    },
    {
        "id": "902783543b04732d",
        "type": "mysql",
        "z": "e6105ed9cba7a11a",
        "mydb": "0d08bc2aeb30626c",
        "name": "my-sql-sensors",
        "x": 1040,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "f7c7f8e02ddc290b",
        "type": "function",
        "z": "e6105ed9cba7a11a",
        "name": "mysql-function",
        "func": "var rec_msg = msg.payload.toString();\n\nvar msgJson = JSON.parse(rec_msg);\n\nvar nodeid = msgJson.name;\nvar measure_value = msgJson.measure_val;\nvar measure_label = msgJson.measure_label;\n//var sensor_type = msgJson.sensor_type;\n\nmsg.topic = \"INSERT INTO `sensors`.`data_sensors` (node_id,meas_label,meas_raw_value) VALUES ( ' \" + nodeid + \"', '\" + measure_label + \"', '\" + measure_value + \"');\";\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 640,
        "wires": [
            [
                "902783543b04732d"
            ]
        ]
    },
    {
        "id": "ee60811f52cb4b75",
        "type": "mqtt in",
        "z": "e6105ed9cba7a11a",
        "name": "",
        "topic": "sensor12/ultrasom",
        "qos": "2",
        "datatype": "auto",
        "broker": "f6c57be57cd6424b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 190,
        "y": 880,
        "wires": [
            [
                "378cc117c6eed6b2"
            ]
        ]
    },
    {
        "id": "f6c57be57cd6424b",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.68.107",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "0d08bc2aeb30626c",
        "type": "MySQLdatabase",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "db": "sensors",
        "tz": "",
        "charset": "UTF8MB4"
    }
]